<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <contextName>logback</contextName>
    <!-- name的值是变量的名称，value的值时变量定义的值。通过定义的值会被插入到logger上下文中。定义变量后，可以使“${}”来使用变量。 -->
    <property name="log.path" value="logs"/>

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{dd HH:mm:ss}){faint} %clr(%5p) %clr([%15.15t]){faint} %clr(%logger{45}){cyan} %clr(:){faint} %m%n"/>
    <property name="FILE_LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss} [%20thread] %-5level %-50logger{1} : %msg%n"/>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/main.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/main-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${log.path}/error.log</file>
        <!--日志文件输出格式-->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/error-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
    </appender>

    <appender name="mysql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/mysql.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/mysql-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="java.sql.Statement" level="debug" addtivity="false">
        <appender-ref ref="mysql"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="debug" addtivity="false">
        <appender-ref ref="mysql"/>
    </logger>
    <logger name="java.sql.ResultSet" level="debug" addtivity="false">
        <appender-ref ref="mysql"/>
    </logger>
    <logger name="org.springframework.jdbc.core" level="trace" addtivity="false">
        <appender-ref ref="mysql"/>
    </logger>
    <logger name="org.mybatis.mapper" level="debug" addtivity="false">
        <appender-ref ref="mysql"/>
    </logger>

    <logger name="org.springframework" level="info" addtivity="false">
        <appender-ref ref="main"/>
    </logger>
    <logger name="org.evan.libraries" level="debug" addtivity="false">
        <appender-ref ref="main"/>
    </logger>
    <logger name="com.shumai.tianyandata" level="debug" addtivity="false">
        <appender-ref ref="main"/>
    </logger>

<!--    <logger name="org.elasticsearch" level="debug" addtivity="false">-->
<!--        <appender-ref ref="main"/>-->
<!--    </logger>-->

    <root>
        <appender-ref ref="error"/>
    </root>

</configuration>